@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

.main {
   margin-top: 72px;
   display: flex;
   justify-content: center;
}

.header {
   visibility: hidden;
}