@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

.header {
    width: 100%;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: 0 4px 14px -2px #d7d7d7;
}

.header div {
    height: 100%;
    display: flex;
    align-items: center;
}

div h1 {
    margin: auto;
}